*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: aliceblue;
}

h1{
    font-size: 60px;
    width: 0ch;
    white-space:nowrap;
    overflow: hidden;
    border-right: 1px solid white;
    animation: type 8s steps(26) infinite;
}

@keyframes type{
    0%{
        width: 0ch;
    }

    50%{
        width: 26ch;
    }
}